<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  
  <mat-grid-list cols="4" rowHeight="250px">
      <mat-grid-tile
          *ngFor="let friend of friends"
          [colspan]="friend.cols"
          [rowspan]="friend.rows">
        <img src="assets/friends/{{friend.name}}.png" />

        <mat-grid-tile-footer>
          <h3 mat-line>{{friend.name}}</h3>
          <span mat-line>{{friend.status}}</span>
          <button mat-icon-button aria-label="info icon">
              <mat-icon>info</mat-icon>
            </button>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
</div>